body{
    font-family: 'PT Serif', serif;
}
section{
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
h1{
    font-size: 80px;
    font-weight: 700;
}

.display-inline{
    display: inline;
    padding-left: 15px;
}

h3{
    font-size: 30px;
    font-weight: 500;
    color: grey;
}

p{
    font-size: 20px;
}

.orange-color{
    color: orange;
}


.flexible-display{
    display: flex;
}

.half-width{
    width: 40%;
    padding-left: 10%;
    padding-top: 10%;
}

.half-width img {
    width: 80%;
    margin-top: -20%;
}

.link-button{
text-decoration: none;
background-color: tomato;
padding: 10px 40px;
color: white;
font-size: 20px;
font-weight: 500;
border-radius: 10px;
}

.tomato-line{
    border-left: 5px solid;
    border-color: tomato;
}

.text-center{
text-align: center;
}

h2{
    font-size: 35px;
    font-weight: 700; 
}

.mission-items{
    width: 30%;
    padding: 1%;
    text-align: left;
    margin: 2%;
    border-radius: 25px;
}

#mission-bg-color{
    background-color: rgba(173, 216, 230, 0.493);
}

#vision-bg-color{
    background-color:rgba(255, 192, 203, 0.507) ;
}

#goals-bg-color{
    background-color:rgba(255, 255, 0, 0.26) ;
}

.mission-items img{
width: 50%;
}

.one-third-size{
    padding-top: 5%;
    width: 60%;
    text-align:left ;
}
img{
   width: 40%; 
   padding: 5%;
}
footer{
    text-align: center;
    color: white;
background-color: rgb(8, 8, 39);
padding-top: 2%;
padding-bottom: 2%;
}
